/* 
Name: River Breazile
Date: 1/07/2025
*/

@media only screen and (max-width: 1920px) {
	/* Formatting for the body of website */
		body {
			background-color: #eef8f3
		}

	/* Navigation Bar format */
		ul {
		  list-style-type: none;
		  margin: 0;
		  overflow: hidden;
		  background-color: #3f3f3f;
		}

		li {
		  float: right;
		}

		li a {
			color: #f8f3ee;
			font-family: 'Fauna One', serif;
			font-weight: bold;
			font-size: 18px;
			display: block;
			text-decoration: none;
			padding: 15px;
		}

		#menu {
		  justify-content: right;
		}

	/* Formatting for image */
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 40%;
			border-radius: 20%;
		}

	/* Formatting for MAIN content */
		h1 {
			text-align: center;
			font-family: 'Cinzel Decorative';font-size: 22px;
		}

		p {
			text-align: center;
			padding: 15px;
			font-family: 'Fauna One', serif;
		}
	
		aside {
			display: inline;
			width: 20%;
			height: 90%;
			padding-left: 15px;
			margin-left: 15px;
			float: left;
			font-style: italic;
			background-color: lightgray;
	}
}